extends ./layouts/common.pug     
block append style
    link(rel='stylesheet', href='/styles/home.css')
block content
    .home
        .row
            .search-box
                input#searchTerm.search-term(type="text",placeholder="Search for song, artist etc...")
                button.search-button
                    i.search-icon(class="fa fa-search")
                ul#searchList.search-list
                    li.search-item Anh
                    li.search-item Anh 
                        span.hint ơi ở lại
                    li.search-item Anh 
                        span.hint là vô địch
            select.search-option(name="")
                option(value="All") All
    script(src="/scripts/home.js")